@*@{
        ViewBag.Title = "About";
    }*@
<h1>About Foster Match</h1>
@*<h3>@ViewBag.Message</h3>*@

<p style="margin-left: 10vw; margin-right: 20vw;">
    The Foster Match application was created by former Family Case Manager,
    Laura Garcia, as an aid for foster care agencies to quickly and accurately match children in need of foster care placements
    to available foster homes.

    The goal is for agency staff, foster parents and other involved parties to be able to share up-to-date, accurate information
    regarding openings and needs to prevent unnecessary wait time for children in need of foster care placement.
</p>

<h1>Special Thanks</h1>
<div style="margin-left: 10vw; margin-right: 20vw;">
    <p>
        Laura Garcia would like to thank her fellow classmates at Eleven Fifty Academy for their contributions to the development
        of the Foster Match Application:
    </p>
</div>

<div class="thanksgroup" style="margin-left:10vw;color:lightgoldenrodyellow;">
    <div class="row">
        <div class="col-md-6">
            Ransford Walker, Eleven Fifty Academy Instructor
        </div>
        <div class="col-md-6">
            Mark Lozier, Web Developer
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            John Perkins, Web Developer
        </div>
        <div class="col-md-6">
            Trever Kress, Web Developer
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Debbie Forbeck, Web Developer
        </div>
        <div class="col-md-6">
            Josh Riley, Web Developer
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Lisa Kilgore, Web Developer
        </div>
        <div class="col-md-6">
            John Chiapetto, Web Developer
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Max Griffin, Web Developer
        </div>
    </div>
 