@*@{
        ViewBag.Title = "About";
    }*@
<div style="background-color: lightgoldenrodyellow; padding-top: 5px; padding-bottom:10px;">
    <h1 style="color:#210400; font-weight:900;">About Foster Match</h1>
    @*<h3>@ViewBag.Message</h3>*@

    <p style="margin-left: 10vw; margin-right: 10vw;">
        The Foster Match application was created by former Family Case Manager,
        <a href="https://lgarcia223.github.io/" style="color:navy; text-decoration: underline;">Laura Garcia</a>, as an aid for foster care agencies to quickly and accurately match children in need of foster care placements
        to available foster homes.

        The goal is for agency staff, foster parents and other involved parties to be able to share up-to-date, accurate information
        regarding openings and needs to prevent unnecessary wait time for children in need of foster care placement.
    </p>

    <p style="margin-left: 10vw; margin-right: 20vw;">
        If you are interested in learning more about Indiana Foster Children waiting for permanent adoptive placement, please visit
        <a href="https://www.adoptuskids.org/states/in/browse.aspx" style="color:navy; text-decoration: underline;">AdoptUsKids.org.</a>
    </p>

    <h1 style="color:#210400; font-weight:900;">Special Thanks</h1>
    <div style="margin-left: 10vw; margin-right: 10vw;">
        <p>
            Laura Garcia would like to thank her fellow classmates at Eleven Fifty Academy for their contributions to the development
            of the Foster Match Application:
        </p>
    </div>

    <div style="margin-left:10vw;color:#210400;">
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/ransford-walker-70606940/">Ransford Walker</a>, Eleven Fifty Academy Instructor
            </div>
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/mark-lozier-56371929/">Mark Lozier</a>, Web Developer
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/johngarlandperkins/">John Perkins</a>, Web Developer
            </div>
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/trever-kress-495364157/>">Trever Kress</a>, Web Developer
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/debbiedforbeck/">Debbie Forbeck</a>,Web Developer
            </div>
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/joshua-riley-53a864180/">Josh Riley</a>, Web Developer
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/lisajkilgore/">Lisa Kilgore</a>, Web Developer
            </div>
            <div class="col-md-6">
                <a href="https://www.linkedin.com/in/john-chiapetto-24a91417b/">John Chiapetto</a>, Web Developer
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                Max Griffin, Web Developer
            </div>
        </div>
    </div>
</div>