@{
    ViewBag.Title = "Contact";
}
<div style="background-color: lightgoldenrodyellow; padding-top: 5px; padding-bottom: 10px">
    <h1 style="color:#210400; font-weight:900;">@ViewBag.Title</h1>
    <a href="https://lgarcia223.github.io/" style="text-align:center; color:navy; text-decoration:underline;">
    <h3 style="color:navy;">Laura E. Garcia</h3>
    </a>
    <h4 style="text-align:center; color:#210400;" >Web Developer</h4>


    <address style="color: #210400; text-align:center;">
        Indianapolis, IN <br />
        LGarcia223@gmail.com
    </address>

    <div class="iconrow">
        <a style="color: #210400;" href="https://www.linkedin.com/in/laura-garcia-106180166" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a style="color:#210400;" href="https://github.com/lgarcia223" target="_blank">
            <i class="fab fa-github"></i>
        </a>
        <a style="color:#210400;" href="https://www.facebook.com/profile.php?id=758791616" target="_blank">
        <i class="fab fa-facebook"></i>
        </a>
    </div>
</div>