body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-size: cover; 
    background-image: url('Images/redwaves.jpg')
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
h1 {
    font-size: 5rem;
    font-family: 'Tangerine', cursive;
    color: lightgoldenrodyellow;
}
h3 {
    color: lightgoldenrodyellow;
}
p {
    color: lightgoldenrodyellow;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jumbotron {
    color: lightgoldenrodyellow; text-shadow: 2px -1px 0 black;
    outline-color: lightgoldenrodyellow;
    background-color: transparent;
    font-family: 'Tangerine', cursive;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.mybtn {
    background: darkcyan;
    color: lightgoldenrodyellow;
    display: inline-block;
    padding: 6px 12px 6px 12px;
    text-decoration: none; text-align:center;
    border-radius: 25pt;
    border: 2px lightgoldenrodyellow solid; 
    margin: 0 0 0 20vw;
    width: 200px;
 }
.mybtnlog {
    background: darkcyan;
    color: lightgoldenrodyellow;
    display: inline-block;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    text-align: center;
    border-radius: 25pt;
    border: 2px lightgoldenrodyellow solid;
    margin: 0 10vw 0 0vw;
    width: 200px;
}
.mynav {
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    text-decoration-line: underline;
    color: lightgoldenrodyellow;
    margin-top: 50px;
    margin-left: 10px;
}
.mynav:hover {
    color:darkcyan;
}
.table{
    color: black;
    background-color: lightgoldenrodyellow;
}
.headers{
    color: darkcyan;
    background-color: lightgoldenrodyellow;
    font-family: Tahoma;
    font-size: 12px;

}
.links {
    color: darkcyan;
}
li{
    color: lightgoldenrodyellow;
}
.iconrow {
    color: lightgoldenrodyellow;
    font-size:20px;
    margin-left: 43vw;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.form-group{
    color: lightgoldenrodyellow;  
}
.dl-horizontal dt {
    white-space: normal;
}
.largephoto {
    display:flex;
    justify-content:space-between;
    align-items:stretch;
}
.error {
    color: black;
}
.redirect {
    color:lightgoldenrodyellow; 
    text-decoration:underline;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
